<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>RemoveProduct</th>
        </tr>
    </thead>
    <tbody *ngFor= "let item of products">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><button class="btn btn-primary" (click)= "removeProduct(item.id)">Remove</button></td>
        </tr>
    </tbody>
</table>